/* General css */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,900");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
  border: 2px solid red;
}
/* 
body::before {
  content: "";
  position: absolute;
  top: 0;
  background-image: url("/bg-simplify-section-mobile.svg");
  width: 100%;
  aspect-ratio: 1;
  background-repeat: no-repeat;
}
 */
button,
input,
textarea,
ul,
li {
  font-family: inherit;
}
